<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="keyword" content="위례세움교회, 위례, 교회, 성결교회, 신촌성결교회 분립개척">
        <meta name="description" content="위례세움교회 홈페이지에 오신 여러분을 환영합니다">
        <meta name="author" content="LOWLOW">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="위레세움교회">
        <meta property="og:url" content="">
        <meta name="naver-site-verification" content="604cd23b68ee184d44c54685647bed1035b30b72" />
        <meta property="og:description" content="위례세움교회 홈페이지에 오신 여러분을 환영합니다">
        <title>위례세움교회</title>

        <link rel="shortcut icon" href="/img/favicon.ico">
        <link href="/css/googleSans.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
        <link href="/css/styles.css?version=1.1" rel="stylesheet" />
        <script src="/js/jquery-3.5.1.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js?version=1.1"></script>
    </head>

    <script>
        $(function(){
            activeDeviceFunc();
        })
    </script>

    <body id="page-top">

        <!-- Navigation-->
        <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#page-top">위례세움교회</a></li>
                <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
                <li class="sidebar-nav-item"><a href="#about">교회소개</a></li>
                <li class="sidebar-nav-item"><a href="#link">링크</a></li>
                <li class="sidebar-nav-item"><a href="#map">오시는 길</a></li>
            </ul>
        </nav>

        <!-- Header-->
        <header class="masthead d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center">
                <h3 class="mb-1"><em>착하고 충성된 교회</em></h3>
                <h1 class="mb-5">위례세움교회</h1>
                <a class="btn btn-primary btn-xl" href="#about">교회 소개</a>
            </div>
        </header>

        <!-- 교회소개-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="content-section-heading text-center">
                        <h3 class="text-secondary mb-0">ABOUT</h3>
                        <h2 class="mb-5">교회소개</h2>
                    </div>
                    <div class="col-lg-10">
                        <h3 class="mb-2">위례세움교회는</h3>
                        <p class="lead mb-3">
                            기독교대한성결교회에 속한 교회로써 2015년 2월에 설립되어 최성광 담임목사님을 모시고 <br>
                            "착하고 충성된 교회"를 소망하며 2022년 복음의 역사를 이루어가고 있습니다
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- 예배안내 -->
        <section class="content-section bg-primary text-white text-center" id="worshipInfo">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0">WORSHIP</h3>
                    <h2 class="mb-5">예배 안내</h2>
                </div>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-star"></i></span>
                        <h4><strong>1부 예배</strong></h4>
                        <p class="text-faded mb-0">주일 오전 9시 (본당)</p>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-heart"></i></span>
                        <h4><strong>2부 예배</strong></h4>
                        <p class="text-faded mb-0">주일 오전 11시 (본당)</p>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-heart"></i></span>
                        <h4><strong>3부 예배</strong></h4>
                        <p class="text-faded mb-0">주일 오후 1시 30분 (본당)</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-emotsmile"></i></span>
                        <h4><strong>어린이 예배</strong></h4>
                        <p class="text-faded mb-0">주일 오전 11시 (채움비전실)</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                        <h4><strong>수요저녁예배</strong></h4>
                        <p class="text-faded mb-0">수요일 저녁 7시 30분 (본당)</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-bulb"></i></span>
                        <h4><strong>새벽예배</strong></h4>
                        <p class="text-faded mb-0">
                           화-금 오전 6시 (본당)
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-fire"></i></span>
                        <h4><strong>금요성령집회</strong></h4>
                        <p class="text-faded mb-0">금요일 밤 9시 (본당)</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- 다이렉트 링크 -->
        <section class="content-section" id="link">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">LINK</h3>
                    <h2 class="mb-5">다이렉트 링크</h2>
                </div>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://www.youtube.com/playlist?list=PLDH3-zQRL0z7A-8yO9I_3veUkXEK2wzDP" target="_blank">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">WORSHIP VIDEO</div>
                                    <p class="mb-0">주일설교말씀</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/bible.jpg"/>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://www.youtube.com/playlist?list=PLDH3-zQRL0z6aaqBeq1ZZt-DjKVCF5f2H" target="_blank">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">PRAISE VIDEO</div>
                                    <p class="mb-0">은혜의 찬양</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/worship.jpg"/>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://blog.naver.com/sewoom_ch" target="_blank">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">BLOG</div>
                                    <p class="mb-0">네이버 블로그</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/blog.jpg"/>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://www.instagram.com/sewoom_church/" target="_blank">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">INSTAGRAM</div>
                                    <p class="mb-0">인스타그램</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/instagram.jpg"/>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- 오시는 길-->
        <section class="content-section bg-primary text-white">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0 text-center">ADDRESS</h3>
                    <h2 class="mb-5 text-center">오시는 길</h2>
                </div>
                <div class="row gx-0 addressContainer">
                    <div class="col-lg-6 mb-5">
                        <h3>주소 및 연락처</h3>
                        <p>
                            - 주소 : 경기도 성남시 수정구 위례광장로 19
                                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    아이페리온 809호 <br>
                            - 전화 : 031) 721-6080
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h3>교통 안내</h3>
                        <p>
                            - 지하철 : 8호선 남위례역에서 577m <br>
                            - 버스 1 : 남위례역.창곡교차로 정류장에서 329m <br>
                            <span id="bus2">
                            - 버스 2 : 위례역 푸르지오5,6단지 아이페리온 정류장에서 20m
                            </span><br>
                            - 주차 : 아이페리온 주차장 (4시간 무료)
                        </p>
                        <img src="/img/kakao_map.png" class="kakaoBtn" onclick="goKakaoMap()">
                    </div>
                </div>
            </div>
        </section>
        <!-- Map-->
        <img id="map" src="/img/map.png" width="100%">

        <!-- Footer-->
        <footer class="footer text-center">
           <p class="text-muted small mb-0">Copyright &copy;2022. SEWOOM CHURCH ALL rights reserved. Provided By LOWLOW</p>
        </footer>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </body>
</html>
